<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings"
            type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="eBayUtility.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                requirePermission="false"/>
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
            type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false"/>
    </configSections>
    <applicationSettings>
        <eBayUtility.Properties.Settings>
            <setting name="eBayUtility_WebReference_FindingService" serializeAs="String">
                <value>https://svcs.ebay.com/services/search/FindingService/v1</value>
            </setting>
            <setting name="eBayUtility_WebReference1_Shopping" serializeAs="String">
                <value>http://open.api.ebay.com/shopping</value>
            </setting>
        </eBayUtility.Properties.Settings>
    </applicationSettings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SellerProfilesManagementServiceSOAPBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SellerProfilesManagementServiceSOAPBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://svcs.ebay.com/services/selling/v1/SellerProfilesManagementService"
                binding="basicHttpBinding" bindingConfiguration="SellerProfilesManagementServiceSOAPBinding"
                contract="ServiceReference1.SellerProfilesManagementServicePort"
                name="SellerProfilesManagementServiceSOAPPort" />
        </client>
    </system.serviceModel>
</configuration>